@import '../../style/index.scss';


*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.App{
    background-color: #c2c2c2;
    padding: 16px;
    @include borders
}
